html,
body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

.feedButton {
    background-color: #eec6be;
    /* background-size: 250% 250%;
    background-position: -20px 20px; */
    /* background-image: url('Button.png'); */
    font-size: 15px;
    font-family: 'Fuzzy Bubbles', cursive;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.playButton {
    background-color: #eec6be;
    background-size: cover;
    font-size: 15px;
    font-family: 'Fuzzy Bubbles', cursive;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

section.wrapper {
    min-width: 400px; /* Minimum width of your wrapper element */
    overflow: hidden;
    display: inline-block;
}
